.create-version-form{
  .k-window-content{
    padding: 0;
  }
  .modal-body{
    overflow: auto;
    padding: 15px;
    height: 65vh;
    width: 40vw;
  }
  .chosen-files-container{
    max-width: 35vw;
  }
}