.dash-board-header{
  @include setFlex(row, space-between);
  margin-top: 10px;
  padding: 5px;
  height: 70px;
}
.dash-board-body{
  display: flex;
  padding: 5px;
}
.dash-board-navigation{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  & > *{
    margin-bottom: 1px;
  }
}
.dash-board-content{
  @include setFlex(row, center, start);
  flex-grow: 8;
  height: calc( 100vh - #{$header-height} - 70px - 30px);
  padding: 0 5px 5px 5px;
}