$version-info-height: 178px;
$version-info-button-bar-height: 62px;
$version-grid-height: calc(100vh - (#{$header-height} + #{$dash-board-header-height} + #{$version-info-height} + #{$version-info-button-bar-height}) - 45px);

.version-page{
  @include setFlex(column, center, stretch);
  &>:not(:nth-child(1)){
    margin-top: 15px;
  }
}
.version-info{
  height: $version-info-height;
  background-color: $form-background-color;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;

  .version-info-body{
    @include setFlex(row, start, start);
    gap: 5rem;
  }
  .body-row{
    @include setFlex(row, start, start);

    span{
      font-weight: 500;
    }
    div{
      margin-left: 5px;
    }
  }
  .version-info-spinner{
    background-color: inherit;
  }
}
.version-info-button-bar{
  @include setFlex(row, start, center);
  gap: 10px;
  height: $version-info-button-bar-height;
  overflow: auto;
}
.configurations-grid{
  max-height: $version-grid-height;
}