@mixin fitSize($property, $parentSize, $delta){
  #{$property}: calc(#{$parentSize} - #{$delta});
}

@mixin setFlex($direction: row, $justify:center, $align:center){
  display: flex;
  flex-direction : #{$direction};
  justify-content: #{$justify};
  align-items: #{$align};
}